<div class="container" style="width: 700px; margin-top: 30px ;">
  <form method="post" action="/votes">
    <input
      id="title-input"
      name="title"
      type="text"
      value="{{entry.title}}"
      tabindex="1"
      class="block w-100 no-outline no-border pad-1 mar-b-2"
      placeholder="Название"
    />
    <input
      id="title-input"
      name="picture"
      type="text"
      value="{{entry.picture}}"
      tabindex="1"
      class="block w-100 no-outline no-border pad-1 mar-b-2"
      placeholder="Картинка"
    />
    <textarea
      id="body-textarea"
      name="body"
      tabindex="2"
      class="block w-100 h-10 no-resize no-outline no-border no-resize pad-1 mar-b-2"
      placeholder="Описание"
      style="height: 350px; resize: none; margin-top:10px"
    ></textarea>

    <div class="text-center mt-5" style="margin-top: 15px;">
      <button type="submit" class="btn btn-dark">&nbsp; Опубликовать &nbsp;</button>
    </div>
  </form>
</div>
