<ul class="navbar-nav me-auto mb-2 mb-lg-0">
  <li class="nav-item">
    <a class="nav-link" href="/users/seller">Добавить объявление</a>
  </li>
</ul>
{{/if}}

<ul class="navbar-nav me-auto mb-2 mb-lg-0">
  <li class="nav-item">
    <a class="nav-link" href="/users/category">Категории товаров</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="/users/carts">Корзина</a>
  </li>
</ul>

{{else}}
<ul class="navbar-nav me-auto mb-2 mb-lg-0">
  <li class="nav-item">
    <a class="nav-link" href="/users/registration">Регистрация</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="/users/login">Войти</a>
  </li>
</ul>
</div>
{{/if}}
</nav>
