<nav>
  <div class="nav-wrapper teal accent-4">
    <div class="brand-logo right" style="text-decoration: none;">PROJECT NAME</div>
    <ul id="nav-mobile" class="left hide-on-med-and-down">
      {{#if userName}}
        <li><a style="text-decoration: none; font-size: 25px; letter-spacing: 1px;" href="/profile">{{userName}}</a></li>
        {{#if userAdmin}}
          <li><a style="text-decoration: none;" href="/votes/">Добавить объявление</a></li>
        {{/if}}
        <li><a style="text-decoration: none;" href="/">Главная</a></li>
        <li><a style="text-decoration: none;" href="/users/logout">Выйти</a></li>
      {{else}}
        <li><a style="text-decoration: none;" href="/users/registration">Регистрация</a></li>
        <li><a style="text-decoration: none;" href="/users/login">Войти</a></li>
      {{/if}}
    </ul>
  </div>
</nav>
